/* SITE WIDE */
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Merriweather');

html {
  background-color: #396E94;
  color: #272727;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

header, main, footer {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 45rem;
}

header, footer {
  background-color: #272727;
  text-align: center;
  border-radius: 10px;
}

header img {
  width: 200px;
  height: auto;
}

h1 {
  font-family: "Marck Script", Garamond, cursive;
  color: #FF652F;
  font-size: 2rem;
  margin: 0.15rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

hr {
  height: 1px;
  color: #FF652F;
  background-color: #FF652F;
  border: none;
  margin-bottom: 0.75rem;
}

main a:visited {
  color: #14A76C;
  text-shadow:
		-1px -1px 0 #272727,
		1px -1px 0 #272727,
		-1px 1px 0 #272727,
		1px 1px 0 #272727;
}

main a:link {
  color: #E7C24F;
  text-shadow:
		-1px -1px 0 #272727,
		1px -1px 0 #272727,
		-1px 1px 0 #272727,
		1px 1px 0 #272727;
}

main a:hover {
  color: #FF652F;
  text-shadow:
		-1px -1px 0 #272727,
		1px -1px 0 #272727,
		-1px 1px 0 #272727,
		1px 1px 0 #272727;
}

footer {
  color: #E7C24F;
  font-size: small;
}

footer a:hover {
  color: #FF652F;
}

footer a:visited {
  color: #396E94;
}

footer a:link {
  color: #14A76C;
}

footer div {
  font-size: x-small;
}