@import url('https://fonts.googleapis.com/css?family=Kotta+One|Raleway');

body {
    background-color: #b4c5e4;
    font-family: "Raleway", Arial, sans-serif;
    line-height: 1.5;
    height: 100%;
}

header,
footer {
    background-color: #090c9b;
    color: #fbfff1;
    text-align: center;
    margin: 0 auto;
    padding: 0.75rem;
}

.header_layout {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
header img {
    max-width: 90px;
    height: auto;
}
.title_layout {
    text-align: center;
}

.title_layout h1 {
    margin-bottom: 0;
    padding-bottom: 0%;
}

#motto {
    margin-top: -10px;
    padding-top: 0%;
}

#mainNav {
    background-color: #0B4F6C;
    font-size: 1em;
}

#mainNav ul.hide {
    display: none;
}

#mainNav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.75);
}

#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#mainNav li a {
    color: #b4c5e4;
    display: block;
    padding: 0.8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3)
}

#mainNav li a:hover {
    background-color: #3066be;
    color: #fbfff1;
}

#mainNav li a:visited {
    color: #3C3744;
}

#mainNav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #3C3744;
}


main {
    margin: 0 auto;
    padding: 0.75rem;
    color: #090c9b;
    width: 80%;
    border-radius: 25px;
}

h1,
h2 {
    font-family: "Kotta One", Georgia, serif;
    margin-bottom: .5rem;
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
}
.placeholder {
    display: block;
    border: 1px dashed #1F271B;
    padding: 15px;
    background-color: aqua;
    color: #0B4F6C;
    font-style: italic;
}

footer {
    color: #fbfff1;
    font-size: small;
}

footer nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    margin: 0;
}

footer a:hover {
    color: #1F271B;
}

footer a:visited {
    color: #396E94;
}

footer a:link {
    color: #b4c5e4;
}

footer nav {
    font-size: x-small;
}

/*----- Clearfix: Force an element not to collapse ----*/
clearfix:after {
    content: "";
    display: table;
    clear: both;
}