@media only screen and (min-width: 37.5em) {
    header, footer {
        width: 98%;
        border-radius: 10px;

    }
    .header_layout {
        margin: 1em;
    }
    
    header img {
        max-width: 125px;
        height: auto;
    }
    #motto {
        margin-top: -15px;
    }

    h1 {
        font-size: 3rem;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.5)
    }
    
    #mainNav {

    }

    #mainNav button {
        display: none;
    }

    #mainNav ul {
        margin-left: 2%;
    }

    #mainNav ul.hide {
        display: block;
    }

    #mainNav ul li {
        float: left;
    }

    #mainNav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: 0.8rem 1rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    .placeholder {
        margin: 5px;
    }
}