@media only screen and (min-width: 37.5em) {
    /*-----SITE WIDE----*/
    header {
        width: 98%;
        border-radius: 10px;

    }
    .header_layout {
        margin: 1em;
    }
    
    header img {
        max-width: 125px;
        height: auto;
    }
    #motto {
        margin-top: -15px;
    }

    h1 {
        font-size: 3rem;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.5)
    }
    
    #mainNav button {
        display: none;
    }

    #mainNav ul.hide {
        margin-left: 2%;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
        margin: 0;
    }

    #mainNav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: 0.8rem 1rem;
    }

     
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    .contact_map {
        border: 2px groove #0b4f6c;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #map {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #contact {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        padding-left: 25px;
    }
       

    footer {
        width: 80%;
        border-radius: 10px;
    }

    /*-------------------------------------------------------------PRESTON PAGE------------------------------------*/
    .herosum {
        border: 3px solid #3c3744;
    }

    .summary {
        position: absolute;
        width: 60%;
        top: 10px;
        left: 10px;
        font-size: .85em;
        border: 1px groove #3c3744;
        border-radius: 10px;
    }
    
    .summary hr {
        border: 1px solid #0b4f6c;
    }

    .forecast {
        display: block;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        background-color: #0b4f6c;
        color: #fbfff1;
        border: 5px double #3c3744;
        border-radius: 25px;
        box-shadow: 0 0 25px #1f271b;
    }

    .forecast table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .daily {
        margin: 0 auto;
    }
    
    .forecast h3 {
        text-align: left;
        margin-left: 10px;
    }
    
    .weekdays th {
        font-weight: bold;
    }

    .conditions img {
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .temps td {
        padding-bottom: 10px;
    }

    .article {
        margin: 0 auto;
        padding: 10px;
    }
    
    .article img {
        float: left;
        box-shadow: 10px 10px 5px #1f271b;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    /*--------------------------------------------------GALLERY---------------------------------------------*/
    .image_layout {
        grid-template-columns: 1fr 1fr;
    }

    /*---------------------------------------------------STORM CENTER----------------------------------------*/
    form label.top input, form label.top select {
        width: 100%;
    }
    .slideRange input {
        width: 100%;
    }
    form input.submitBtn {
        box-shadow: 0 0 50px #3c3744;
    }
    .thanks p {
        max-width: 70%;
        font-size: 1.75rem;
    }
}