@media only screen and (min-width: 60em) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.25rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    .personas img {
        width: 300px;
    }
}