@media only screen and (min-width: 60em) {

    /*-------------------------------------------------SITE WIDE-------------------------------------------------*/
    .pagelinks {
        align-items: center;
        display: grid;
        grid-template-columns: 300px auto;
    }

    .call2action img {
        justify-self: left;
    }

    #mainNav ul li a {
        padding: 0.6rem 1rem;
    }

    .logo_layout {
        margin-top: -90px;
    }

    .logo_layout img {
        min-width: 200px;
        height: auto;
    }

    #motto {
        margin-top: -20px;
        padding-left: 40px;
    }

    h1 {
        font-size: 4rem;
    }

    .footer_text {
        margin-left: 50px;
    }

    /*-------------------------------------------------HOME PAGE-------------------------------------------------*/
    .weather {
        width: 75%;
    }

    /*-------------------------------------------------CONFIRMATION-------------------------------------------------*/


    /*-------------------------------------------------CONTACT-------------------------------------------------*/


    /*-------------------------------------------------RENTALS-------------------------------------------------*/


    /*-------------------------------------------------RESERVATIONS-------------------------------------------------*/


    /*-------------------------------------------------TOURS-------------------------------------------------*/
}