@media only screen and (min-width: 37.5em) {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;500&family=Permanent+Marker&display=swap');

/*-------------------------------------------------SITE WIDE-------------------------------------------------*/
#call2action img {
    height: 125px;
    width: auto;
}

#mainNav button {
    display: none;
}

#mainNav ul.hide {
    margin-left: 2%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    margin: 0;
}

#mainNav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: 0.8rem 1rem;
}
.logo_layout {
    width: 98%;
    border-radius: 10px;
}
.logo_layout img {
    max-width: 125px;
    height: auto;
}
#motto {
    margin-top: -15px;
}
footer {
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 1fr;
  }
  
.footer_text {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 25px;
    text-align: left;
}
.footer_text div {
    margin-top: 0em;
    padding-top: -10px;
}
.social {
    justify-self: right;
    align-content: center;
    grid-row: 1/2;
    padding-right: 5px;
}
.social img {
    max-width: 45px;
}

/*-------------------------------------------------HOME PAGE-------------------------------------------------*/


/*-------------------------------------------------CONFIRMATION-------------------------------------------------*/


/*-------------------------------------------------CONTACT-------------------------------------------------*/


/*-------------------------------------------------RENTALS-------------------------------------------------*/


/*-------------------------------------------------RESERVATIONS-------------------------------------------------*/


/*-------------------------------------------------TOURS-------------------------------------------------*/
}