@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;500&family=Permanent+Marker&display=swap');

/*-------------------------------------------------SITE WIDE-------------------------------------------------*/
body {
    background-color: #FFF784;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #1C1C1C;
    line-height: 1.5;
    height: 100%;
}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 200px;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
}

.call2action {
    width: 300px;
    height: 155px;
    position: relative;
    display: inline-block;
}
.call2action .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.call2action:hover .img-top {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
.call2action img {
    margin-left: auto;
    margin-right: auto;
}

#mainNav {
    background-color: #1c1c1c;
    color: #ffb93f;
    font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
}

#mainNav ul.hide {
    display: none;
}

#mainNav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fdebc4;
}

#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#mainNav li a {
    color: #fdebc4;
    display: block;
    padding: 0.8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#mainNav li a:hover {
    background-color: #ffafcd;
    color: #c1c1c1;
    text-shadow:
		-1px -1px 0 #3c3744,
		1px -1px 0 #3C3744,
		-1px 1px 0 #3C3744,
		1px 1px 0 #3C3744;
}

#mainNav li a:visited {
    color: #52eab5;
    text-shadow:
		-1px -1px 0 #3C3744,
		1px -1px 0 #3C3744,
		-1px 1px 0 #3C3744,
		1px 1px 0 #3C3744;
}

#mainNav ul li a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffafcd;
}

.logo_layout {
    margin: 0 auto;
    padding: 0.75rem;
    margin-top: 0px; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo_layout img {
    max-width: 90px;
    height: auto;
}

.company {
    text-align: center;
}

.company h1 {
    margin-bottom: 0;
    padding-bottom: 0%;
}

#motto {
    margin-top: -10px;
    padding-top: 0%;
}

footer {
    font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: smaller;
    background-color: #1c1c1c;
    color: #fff784;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
.footer_text {
    grid-row: 3/4;
    grid-column: span;
    margin: 5px;
    text-align: center;
}

.footer_text a {
    color: #ffb93f;
}

.footer_text a:hover {
    color: #fdebc4;
}

.footer_text a:visited {
    color: #ffafcd;
}

.footer_contact {
    grid-row: 1/2;
    grid-column: span;
    text-align: center;
}

.social {
    grid-row: 2/3;
    grid-column: span;
    justify-self: center;
}
.social img {
    max-width: 45px;
}

/*----- Clearfix: Force an element not to collapse ----*/
clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*-------------------------------------------------HOME PAGE-------------------------------------------------*/
.summary {
    display: block;
    padding: 5px;
    margin: 0 auto;
}

.summary img {
    justify-self: center;
  display: block;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.weather {
    display: none;
}
.forecasts_mobile {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #24a5b5;
    color: #fdebc4;
    border: 5px double #ffafcd;
    border-radius: 25px;
    margin-bottom: 15px;
}
.forecast_mobile {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    }

#today_mobile, #day5_mobile {
    font-weight: bold;
}

.conditions_mobile img {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0em;
    padding-bottom: 1px;
}

.temps_mobile {
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 10px;
}

/*-------------------------------------------------CONFIRMATION-------------------------------------------------*/
main {
    margin: 0 auto;
    text-align: center;
}
main img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------------------------CONTACT-------------------------------------------------*/


/*-------------------------------------------------RENTALS-------------------------------------------------*/
table {
    border-collapse: collapse;
    background-color: #fdebc4;
    color: #1C1C1C;
    margin: 0 auto;
    margin-bottom: 10px;
}

table, td, th {
    border: 1px solid #1c1c1c;
}

.table_head, .subheader1, .subheader2, .seats {
    text-align: center;
}

.descriptions {
    margin-top: 5px;
    margin: 0 auto;
}

.descriptions h3 {
    font-family: 'Permanent Marker', cursive;
    margin-top: -10px;
    text-align: center;
}

.descriptions img {
    border: 1px groove #ffafcd;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.descriptions p {
    margin-top: -18px;
    padding-left: 3px;
    padding-right: 3px;
}
.reqs h2 {
    padding-left: 10px;
}
.reqs li {
    padding-left: 15px;
}

/*-------------------------------------------------RESERVATIONS-------------------------------------------------*/
main {
    padding: 50px 0;
}
.ifyes {
    font-size: x-small;
    font-style: italic;
}
.reserve_form {
    width: 95%;
    max-width: 350px;
    margin: 0 auto;
}
.reserve_form * {
    box-sizing: border-box;
}
.basic_info, .spec_accom {
    list-style-type: none;
    padding: 0;
}
.basic_info {
    max-width: 325px;
    margin: 0 auto;
}
.basic_info li, .spec_accom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.spec_accom {
    padding: 0 2px;
    justify-content: space-between;
}
.basic_info > li:not(:last-child) {
    margin-bottom: 5px;
}
.basic_info li {
    padding: 2px;
    font-weight: 75;
    letter-spacing: .02em;
    text-transform: uppercase;
    flex: 1 0 120px;
    max-width: 220px;
    margin: 0;
}
.spec_accom {
    flex: 1 0 220px;
}
.basic_info li input:not([type='checkbox']), .basic_info li textarea {
    padding: 15px;
    border: none;
}
.basic_info li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #1c1c1c;
    color: #ffb93f;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
.spec_accom li {
    width: 100px;
}

/*-------------------------------------------------TOURS-------------------------------------------------*/
main img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.reefs img {
    width: 50%;
}
#scubaimg {
    border-radius: 15px 0 0 15px;
}
#snorkelimg {
    border-radius: 0 15px 15px 0;
}
figure {
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 125px;
    border-radius: 15px;
    border: 3px solid #52eab5;
}
.bus {
    width: 300px;
    height: 125px;
}
h2, h3 {
    text-align: center;
}
p {
    margin: 0 auto;
    width: 95%;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 20px;
}